/* Start Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

i { font-style: italic; }
/* End Reset CSS */

html, body {
    margin: 0;
	padding: 0;
	width: 100%;
	max-height: 100%;
    font-size: 1em;
}

body {
    background: #efefef;
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
    color: #333;
    font-family: 'Lato', sans-serif;
}

/****************
Body - header
****************/

header {
    position: relative;
    color: #351D45;
    color: #48145E;
    background: currentColor;
    height: 460px;
    overflow: visible;
}
header:before {
    content: '';
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    bottom: -80px;
    border-top: 80px solid currentColor;
    z-index: 0;
}

.hero {
    position: relative;
    color: #efefef;
    width: 90%;
    margin: 0 auto;
    max-width: 32rem;
    padding: 40px 0 0;
    text-align: center;
    z-index: 1;
}

.avatar {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid white;
    box-shadow: 0px 5px 25px 0px #140E17;
}

.name {
    font-size: 4rem;
    margin: 20px 0 15px;
    font-family: 'PT Serif', serif;
}
.tagline {
    font-size: 1.3rem;
}
.title {
    margin: 15px 0 5px;
    font-size: 1.1rem;
}
.job {}

/****************
Body - content
****************/

.wrapper {
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    padding: 100px 0 40px;
}

.portfolio {
    text-align: center;
}

.project {
    position: relative;
    width: 30%;
    margin: 20px 1.5%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 2rem;
    text-align: left;
    padding: 20px 20px 50px;
    border-radius: 2px 2px 3px 3px;
    background: white;
    box-shadow: 0 3px 5px -3px black;
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

.project[data-project=responsive-map] { border-color: #f8433e; }
.project[data-project=fork-ribbon]    { border-color: #F6C304; }
.project[data-project=tiny-toast]     { border-color: #F26F83; }
.project[data-project=color-js]       { border-color: #F6C304; }
.project[data-project=geogame]        { border-color: #95D51F; }
.project[data-project=julian-eggs]    { border-color: #519DE7; }

.project img {
    display: block;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto 20px;
    box-shadow: 0 5px 18px -5px black;
}

.project a {
    color: currentColor;
}

.project .link {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
}
.project .link a {
    color: #9311CC;
    text-decoration: none;
    font-weight: bold;
}

/****************
Body - social
****************/

.social {
    text-align: center;
}
.social a {
	display: inline-block;
    box-sizing: border-box;
    width: 48px;
	height: 48px;
    padding: 10px;
    margin: 6px;

    background: white;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2) inset;
    text-decoration: none;
}
.social a svg {
    width: 100%;
    height: 100%;
}

.social svg path { fill: #666; }

.social a:hover svg#icon-gplus     path { fill: #C63725; }
.social a:hover svg#icon-github    path { fill: #333333; }
.social a:hover svg#icon-twitter   path { fill: #4393D0; }
.social a:hover svg#icon-linkedin  path { fill: #0077B5; }
.social a:hover svg#icon-mail      path { fill: #48145E; }

/****************
Body - media
****************/

@media all and (max-width: 920px) {
    .project {
        width: 46%;
    }
}

@media all and (max-width: 650px) {
    .project {
        width: 90%;
        margin: 20px auto;
    }
}

@media all and (max-width: 500px) {
    .tagline { font-size: 1rem; }
    .job { font-size: .9rem; }
}

@media all and (max-width: 400px) {
    .avatar { width: 160px; height: 160px; }
    .name { font-size: 3em; }
    
    .project img { width: 130px; height: 130px; }
}

@page {
    size: portrait;
    margin: 0cm;
    padding: .5in;
    box-sizing: border-box;
    white-space: pre;
}

@media print {
    html, body {
        display: block;
        color: black;
        background-color: white;
    }
    a:link, a:visited { background: transparent; color: black; text-decoration: none; }
    
    header, .hero { 
        height: auto;
        color: inherit;
        background-color: white;
    }
    header:before { display: none; }
    header { padding-top: 50px; }
    
    .title, .portfolio:before {
        font-size: 1.2rem;
        font-family: 'PT Serif', serif;
        text-decoration: underline;
    }
    .title:after {
        content: ":";
    }
    
    .wrapper {
        max-width: 100%;
        padding: 40px 0;
    }
    
    /* flatten the portfolio */
    .portfolio { 
        padding-top: 1.2rem;
        text-align: left;
        position: relative;
        margin: 0;
    }
    .portfolio:before {
        content: 'Portfolio:';
        position: absolute;
        width: 100%;
        text-align: center;
    }
    .project {
        position: relative;
        width: 100%;
        display: table;
        box-shadow: none;
        padding: .5in .5in 2rem;
        page-break-inside: avoid;
    }
    
    .project img {
        display: table-cell;
        vertical-align: middle;
        box-shadow: none;
        border: 2px solid #666;
    }
    .project .description {
        display: table-cell;
        vertical-align: middle;
        padding: 0 0 0 30px;
        line-height: 1.4rem;
    }
    .project .link {
        bottom: -0.5rem;
        display: block;
        text-align: left;
        padding-left: 230px;
    }
    .project .link a,
    .project .link a:after {
        color: #555;
        font-size: .9rem;
        font-style: italic;
    }
    .project .link a:after {
        content: ": " attr(href);
    }
    
    .social {
        width: 60%;
        margin: 0 auto;
        padding-top: .5in;
    }
    
    .social a {
        display: block;
        position: relative;
        width: 2.5rem;
        height: 2.5rem;
        box-shadow: none;
    }
    .social a:after {
        content: attr(href);
        position: absolute;
        top: 25%;
        left: 58px;
        white-space: pre;
        color: #666;
    }
    .social a svg#icon-gplus     path { fill: #C63725; }
    .social a svg#icon-github    path { fill: #333333; }
    .social a svg#icon-twitter   path { fill: #4393D0; }
    .social a svg#icon-linkedin  path { fill: #0077B5; }
    .social .social-email { display: none; }
    
    /* clearfix */
    .project:after,
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
}
